mkdir -p /proc/{{ .PID }}/root/tmp/ 

ln -fs /proc/$$/root/bin/ /proc/{{ .PID }}/root/tmp/.conxec-{{ .ID }}

cat > /tmp/.conxec-entrypoint.sh <<EOF
#!/bin/sh
export PATH=$PATH:/tmp/.conxec-{{ .ID }}
chroot /proc/{{ .PID }}/root {{ .CMD }}
EOF

sh /tmp/.conxec-entrypoint.sh

# cleanup the symlink from the target container
rm -rf /proc/{{ .PID }}/root/tmp/.conxec-{{ .ID }}
